<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="blog-masthead">
    <div class="container">
      <nav class="blog-nav">
        <a class="blog-nav-item active" href="#">Home</a>
        <a class="blog-nav-item" href="/articles/5">About</a>
        <%= link_to 'New Article', new_article_path , class: 'blog-nav-item' %>
      </nav>

      <%= form_tag articles_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search" %>
    <% end %>

    </div>
  </div>

<div class="container">

  

  <div class="blog-header">
        <h1 class="blog-title">My Blog</h1>
        <p class="lead blog-description">an application for CoderSchool</p>
  </div>

  <div class="container">
    
  </div>

  <%= yield %>

</div>

</body>
</html>
