<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <h3>
    My first Rails Application for CoderSchool! 
    <%= link_to 'New Article', new_article_path , class: 'btn btn-link' %>
  </h3>
  
  <%= yield %>

</div>

</body>
</html>
